page-contact {
    button{
        color: #673AB7;
        background-color: white;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        width:45%;
    }
}
